* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  border: 0.5px solid black;
  /* height: 20vh; */
}
.heading {
  color: rgb(194, 87, 45);
}

.count-body {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.btn {
  padding: 0.4rem 1em;
  margin: 1rem 0.4rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.btn-inc {
  background-color: rgb(20, 162, 20);
  color: white;
}
.btn-dec {
  background-color: rgb(219, 40, 40);
  color: white;
}

.btn-rest {
  background-color: rgb(65, 64, 64);
  color: white;
}
